{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Новости</h1>
</div>

<div class="container">
	{% if user.is_staff %}
	<a class="btn btn-outline-primary mb-4" href="{% url 'news:create' %}">Добавить новость</a>
	{% endif %}
	<div class="row row-cols-1  row-cols-md-2 g-4 text-center">
		{% for object in object_list %}
		<div class="col-lg-6 col-md-12">
			<div class="card h-100">
				<div class="card-body">
					<h3 class="card-title pricing-card-title">{{ object }}</h3>
					<ul class="list-unstyled mt-3 mb-4 text-start m-3">
						<p>{{ object.text|linebreaksbr }}</p>
					</ul>
				</div>
				<div class="p-3">
					<a href="{% url 'news:view' object.pk %}" type="button"
						class="btn btn-lg btn-block stretched-link btn-outline-dark">Подробнее</a>
				</div>
				<div class="card-footer">
					Просмотры: {{ object.views_count }}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}