<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <label><a style="font-size:150%; text-decoration:none; color:#666" href="{% url 'catalog:index' %}" class="logo">Skystore</a></label>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:index'%}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'news:list'%}">Новости</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts'%}">Контакты</a>
    </nav>
</div>