{% extends 'catalog/base.html' %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"></h1>
    </div>
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Письмо подтверждения отправлено!</h4>
        <p>
            На ваш адрес электронной почты было отправлено письмо с подтверждением. Пожалуйста, проверьте свою
            электронную почту и нажмите на ссылку подтверждения, чтобы завершить регистрацию.
            Если письмо не пришло, проверьте папку спам.
        </p>
    </div>
{% endblock %}