{% extends 'catalog/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1 class="display-4">Профиль</h1>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">
		<div class="card">
			<div class="card-header"></div>
			<div class="card-body">
				<div class="col-8">
					<p><strong>Почта:</strong> {{ object.email }}</p>
					<p><strong>Имя:</strong> {{ object.first_name }}</p>
					<p><strong>Фамилия:</strong> {{ object.last_name }}</p>
					<p><strong>Страна:</strong> <span class="bfh-countries" data-country="{{ object.country }}"
							data-flags="true"></span></p>
					<p><strong>Phone:</strong> {{ object.phone }}</p>
				</div>
				<div class="col-4">
					{#object.avatar#}
				</div>
			</div>
		</div>
		<div class="card-footer justify-content-end">
			<a class="btn btn-outline-dark" href="{% url 'users:profile_edit' %}">Редактировать</a>
		</div>
	</div>
</div>
{% endblock %}