{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">
            {% if object %}
                Редактирование "{{ object.name }}"
            {% else %}
                Добавление товара
            {% endif %}
        </h1>
    </div>

    <div class="col-12">
        <form class="row" method="post">
            {% csrf_token %}
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        {% if request.user|has_group:1 and object and request.user != object.owner %}
                            {{ moderform.as_p }}
                        {% else %}
                            {{ form.as_p }}
                        {% endif %}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        {% if formset and not request.user|has_group:1 and object %}
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Версии</h3>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p }}
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        </form>
    </div>

{% endblock %}